{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Web 1.0 To Do List{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'todos/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'todos/css/forms.css' %}">
</head>
<body>
    <header>
        <h1>{% block page_title %}Web 1.0 To Do List{% endblock %}</h1>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
